body{
    background-color: #eee;
}

p {
    color: slategray;
    text-align: center;
    /* text-align: justify;
    text-align: right;
    text-align: left; */
    text-indent: 15px;/**Darle identación al texto*/
    line-height: 2;/**Espaciado entre lineas y parrafos*/
}

a {
    text-decoration: none;
    /**overline: subrayado superior; underline: subrayado Por defecto; line-through:tachado */
    text-transform: uppercase;
    /*** Capitalize, lowercase, none*/
    letter-spacing: 3px;

}